@font-face {
    font-family: "Inter-Regular";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.CardListing{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;

    margin: 124px 80px 80px;
}

.card_type{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #8E8A86;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.card_title{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #25201A;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.card_location{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #25201A;
    margin-top: 8px;
    margin-bottom: 8px;
}
#locationIcon{
    position: absolute;
    width: 22px;
    height: 22px;

}
#loc_text{
    margin-left: 22px;
}


