@font-face {
    font-family: "Inter-Regular";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.CardListing{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;

    margin: 124px 80px 80px;
}

.card_type{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #8E8A86;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.card_title{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #25201A;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.card_location{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #25201A;
    margin-top: 8px;
    margin-bottom: 8px;
}
#locationIcon{
    position: absolute;
    width: 22px;
    height: 22px;

}
#loc_text{
    margin-left: 22px;
}
.ContactsBox{
    box-sizing: border-box;
    position: absolute;
    width: max-content;
    height: max-content;
    left: 770px;
    top: 120px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 16px;
}

.OwnerImage{
    width: 64px;
    height: 64px;
    background: #F5F5F5;
    border-radius: 100px;
    margin: 20px;
    position: relative
}

.OwnerImage p{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: #000000;

}

.ContactOwnerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    margin: 20px 10px 15px;
    width: 348px;
    height: 40px;
    left: 32px;
    top: 124px;
    background: #333333;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.OwnerContacts{
    position: absolute;
    top: 5px;
    left: 120px;
}
.OwnerName{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.OwnerPhone{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
#phoneIcon{
    position: absolute;
    margin-top: 3px;
    width: 16px;
    height: 16px;
}
.LocationMapBox{
    box-sizing: border-box;
    position: absolute;
    width: max-content;
    height: max-content;
    left: 770px;
    top: 320px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 16px;
}
.LocationText{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #25201A;
    margin: 20px;
}
.LocationText span{
    margin-left: 25px;
}
#LocationBoxIcon{
    position: absolute;
    margin-top: 1px;
    width: 22px;
    height: 22px;
}
.leaflet-container {
    margin: 20px;
    width: 330px;
    height: 200px;
    border-radius: 12px;
}

