@font-face {
    font-family: "Inter-Regular";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../../pages/LoginPage/Fonts/static/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.cardListing{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 124px;
    left: 80px;
    margin: 124px 80px 80px;
    background-color: red;
    border: #E57309 solid 1px;
}

.image_slider{
    width: 60%;
    height: 80%;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    background: #F5F5F5;
    border-radius: 16px;
    background: url(./img/mikky.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.imageNavButton{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 800px;
    top: 278px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#left_nav_button{
    left: 40px;
}
.card_type{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #8E8A86;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card_title{
    width: max-content;
    height: max-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #25201A;
    flex: none;
    order: 1;
    flex-grow: 0;
}

