.logo{
    position: absolute;
    width: 145px;
    height: 48px;
    left: 20px;
    top: 20px;
    background: #FCF4EC;
    background: url(./LoginPage/design/logo_pawmate.png) no-repeat; /* Добавляем фон */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#login_form{
    text-align: left;
    position: absolute;
    display: block;
    margin: 25% 10% 10% 20%;
}